@model TanCruzDentalInventorySystem.ViewModels.SalesOrderViewModel

@{
    ViewBag.Title = "Create Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="MainCreateSales">
    @using (Html.BeginForm("SaveItemRecord", "Item", FormMethod.Post, new { @class = "form-horizontal needs-validation", role = "form" }))
    {
        <h4 class="mb-3">Sales Details</h4>
        <div class="row mb-3">
            <div class="col-md mb-3">
                @Html.LabelFor(m => m.SalesOrderViewModel, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Item.ItemId, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    }
</div>