@{
    ViewBag.Title = "Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="mainSalesOrder">
        <h4 class="mb-3">Sales Order</h4>
        <hr />
        <div class="row mb-1">
            <div class="col-md-2">
                <label for="txtCustomer">Customer</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="txtCustomer" placeholder="" value="" required="">
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-2">
                <label for="txtCustomerName">Name</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control mw-unset" id="txtCustomer" placeholder="" value="" required="">
            </div>
        </div>
    </div>